# Dependências para desenvolvimento local
# O buildozer.spec define as dependências para Android

# Kivy e dependências
kivy[base]==2.3.0
kivymd>=1.1.1

# Processamento de imagem
numpy>=1.24.0
opencv-python>=4.8.0
Pillow>=10.0.0

# Apenas para desenvolvimento/testes locais
pytest>=7.0.0
